

.body-style{
	background-color: white;
}

.header-wrapper{	
}

.logo{
	width: 200px;
  height: 48px;
}

.header-signin{
	float: right;
	margin-top: -40px;
	margin-right: 80px;
}

.header-signin a{
	text-decoration: none;
	font-size: 20px;
	color: #2e91bd;
}

.nav-bar-wrapper{
	background-color: #6ab1d1d9;
	border-radius: 25px;
  height: 40px;
  margin-top: -2px;
} 
    
.nav-bar-inner{
 	float: right;
 	margin-right: 500px;
}


.nav-bar-contents{
	margin: 10px 0px 0px 40px;
	display:inline-block;
}

.nav-bar-contents a{
	color:#444b4e;
	text-decoration: none;
}

.container{
	background-color: #fff;
	margin-top: 10px;
	border-radius: 25px;
	border: 3px solid #4fb9d175;
}


.container-wrapper{
	display: grid;
	margin-top: -4px;
	padding: 5px 30px 15px 30px;
}

.h3{
	color: #444b4e;
}

#table-wrapper{
	align-content: center;
  width: 100%;
  padding: 10px 10px 10px 10px;
  display: grid;
}

#table-wrapper tr:nth-child(odd){
	align-content: center;
	background-color: #51b9c729;
}

#table-wrapper tr:hover{
}

#table-wrapper th{
	border: 1px solid #4fb9d175;
	font-family: monospace;
	color:#03679b;
  padding: 8px;
}

#table-wrapper td{
	border: 1px solid #4fb9d175;
	font-family: monospace;
	color:#58362a;
  padding: 8px;
}

a{
	color: #03679b
}

.hr1{
  border-style: solid;
  border-color: #4fb9d175;
}

.hr2{
  border-style: solid;
  border-color: #5fbce5;
}

.footer{
	margin-top: 10px;
	padding: 3px 3px 3px 3px;
}